@font-face{font-family:'HUGEAvantGardeBold';src:url("../fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/huge_agb_v5-webfont.woff") format("woff"),url("../fonts/huge_agb_v5-webfont.ttf") format("truetype"),url("../fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg")};
@font-face{font-family:'Galaxie';font-style:normal;font-weight:normal;src:url("../fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"),url("../fonts/GalaxieCopernicus-Book.woff") format("woff"),url("../fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg")};
@font-face{font-family:'Galaxie Italic';font-style:italic;font-weight:normal;src:url("../fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"),url("../fonts/GalaxieCopernicus-BookItalic.woff") format("woff"),url("../fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg")};


h2,
h3,
h4,
h5 {

  -webkit-font-smoothing: antialiased;
  color: $color-six;
}



p {
  margin-bottom: 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 31px;
  margin: 0 0 30px;
  border-bottom: 1px solid $color-three;
}

h3 {
  font-size: 26px;
  margin: 40px 0 15px;
  border-bottom: 1px solid $color-three;
}

h4,
h5 {
  font-size: 22px;
  margin: 35px 0 15px;
}
