h2,
h3,
h4,
h5 {

  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 31px;
  color: $color-six;
  margin: 0 0 30px;
}

h3 {
  font-size: 26px;
  color: $color-six;
  margin: 40px 0 15px;
}

h4,
h5 {
  font-size: 22px;
  color: $color-six;
  margin: 35px 0 15px;
}
