.border {
  padding: $standard-padding * 2;
  box-shadow: inset 0 0 0 15px $color-four;
  .img-user {
    width: 100px;
    height: 100px;
  }
  .editable-click, a.editable-click, a.editable-click:hover, input {
    border: dashed $color-five;
    border-width: 0 0 1px 0;
  }

    input {
      font-family: inherit;
      &:hover, &:focus {
        cursor: pointer;
      }
    }
    ul li:last-of-type {
      font-family: $text-italic;
      color: $color-five;
    }

}



