$color-one: #fff;
$color-two: #444;
$color-three: #294b69;
$color-four: #ec008c;
$color-five: #808080;
$color-six: #000;


$img-path: "../img";

$standard-margin: 30px;
$standard-padding: $standard-margin / 2;



$title: 'HUGEAvantGardeBold';
$text: 'Galaxie';
$text-italic: 'Galaxie Italic';

