$color-one: #fff;
$color-two: #444;
$color-three: #294b69;
$color-four: #ec008c;
$color-five: #808080;
$color-six: #000;


$img-path: "../img";

$standard-margin: 2em;
$standard-padding: $standard-margin / 2;



$title: 'HUGEAvantGardeBold';
$text: 'Galaxie';
$text-italic: 'Galaxie Italic';



$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px,
        wide:    1300px
) !default;


