@import '_variables';
@import '_mixins';
@import '_mq';
@import '_flexboxgrid';
@import '_buttons';
@import '_type';
@import '_users';



* {
  box-sizing: border-box;
}


body {
  font-family: $text;
  line-height: 2;
  color: $color-two;
  margin: 0;
  padding: 0;
}

.magenta {
  color: $color-four;
}

.box, .box-first, .box-large, .box-nested, .box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 2.25rem;
  margin-bottom: 0;
  overflow: hidden;
}

.box-large {
  height: 8rem;
}

.box, .box-first, .box-large, .box-nested, .box-row {
  padding: 1rem;
}

.box-row {
  margin-bottom: 1em;
}

ul {
  list-style: initial;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  color: $color-six;
}

a:hover {
  color: $color-four;
}

header {
  @include background-image("bg.jpg", center, $color-two, cover);
  color: $color-one;
  margin-bottom: $standard-margin;
  @include mq($until: tablet, $and: '(orientation: portrait)') {
    i, .action {
      display: none;
    }
  }
  h1 {
    font-family: $title;
    font-size: 55px;
    line-height: 1.2em;
    padding-top: $standard-padding;
    @include mq($until: tablet, $and: '(orientation: portrait)') {
      font-size: 38px;
    }
  }
  p {
    font-family: $text;
  }
}

.action {
  margin-top: 45px;
  header & {
    margin-bottom: 45px;
  }
  .button {
    margin: 0 5px
  }
}

section {
  padding: $standard-padding * 3 0;
  width: 100%;
  &.more-info {
    font-size: 13px;
    ul li {
      list-style-type: disc;
    }
  }
}

footer {
  background-color: $color-six;
  height: 200px;
  margin-top: $standard-margin * 3;
  padding: $standard-padding * 4 0 0;
  p {
    font-family: $text;
    letter-spacing: -0.06em;
    font-size: 15px;
    color: $color-five;
    margin-top: $standard-margin / 2;

  }
}